<<<<<<< HEAD
*, body, html {
    margin: 0;
    padding: 0;
    font: 1em "open Sans", Sans-serf;
}

/* body {background-color:rgb(60, 52, 77)}; */

/* --------------------------------------- */

.menu {
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    }

.menu #logo {
        float: left;
        height: 30px;
        padding: 15px 30px;
        font-size: 1.2em;
        line-height: 30px;
        }

.menu>ul {
    margin: 0;
    padding:0;
    float: left;
    list-style-type: none;
    }

.menu>ul>li{
    float: left;
}

.m-i {
    display: inline-block;
    padding: 15px 20px;
    height: 15px;
    color:#fff;
    text-decoration: none;
}

.m-i:hover {
    background-color: #ff0055;
    transition: 0.5s ease-in;
}


 /* ------------------------- styling sub---------- */

 .sub-Containt {
        position: absolute;
        top:60px;
        overflow:hidden;
        background-color:#333;
        max-height: 0;
 }


 .sub-Containt a {
     color: #fff;
     text-decoration: none;
 }

 .sub-drop ul li a {
    display: inline-block;
    padding:  10px 20px;
    transition: 0.5s ease-in;
 }

 .sub-drop ul li a:hover {
    color: Black;
    /* background-color: black; */
 }


  /* ------------------------- controling---------- */

  /* .m-i:focus {
      background-color: #ff0055;
  } */

  .m-i:focus~.sub-Containt {
    background-color: #ff0055;
    max-height: 400px;
    transition: 1s ease-in;
}
=======
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #333;
    display: flex;
}

.nav-btn {
    padding: 15px 20px;
}

.sub-nav-content {
    position: absolute;
    width: 100vw;
}

.sub-nav-content a {
    display: none;
    padding: 15px 20px;
}

.sub-nav:hover .sub-nav-content a {
    display: block;
    background-color: #2688cd;
}

/* need to move arrow to the top */
.nav-btn a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0dd";
    font-weight: 900;
    margin-left: 5px;
}




/* For Dan */
/* our previous layout */

/*
.sub-nav {
    padding: 30px;
}

.sub-nav-content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: violet;
    padding: 30px;
}

.sub-nav-content a {
    display: block;

}

.sub-nav:hover {
    background-color: violet;
}

.sub-nav:hover .sub-nav-content {
    display: block;
} */
>>>>>>> 2c61ad87e059e3fff48fd0d6e89809de3e90c0cc
